@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
}

body {
  background-image: url("/images/shibackground1.jpeg");
  background-size:100vw;
  background-size:200vh;
  background-repeat: no-repeat;
  color: #B0E0E6;
  text-align: center;
  text-shadow: 2px 2px 5px blue;
  font-size: 36px;
  font-family: indie flower;
}

.container-stats {
  position: relative;
  margin-top: 25px;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
}

.song {
  margin
  position: relative;
  
}