@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
  background-image: url("/images/shibackground1.jpeg");
  background-size:200vw;
  background-size:200vh;
  background-repeat: no-repeat;
  color: #B0E0E6;
  text-align: center;
  text-shadow: 4px 4px 5px blue;
  font-size: 40px;
  font-family: indie flower;
}

 .intro {
  position: relative;
  margin-top: 180px;
  margin-right: 100px;
}

.ageBar {
  position: relative;
  float: right;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 3px;
  width: 125px;
  height: auto;
  flex-direction: column;
  size-adjust: 50%;
}

.petStatus {
  position: relative;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 3px;
  width: 225px;
  height: auto;
  flex-direction: column;
  size-adjust: 50%;
}

#hungerStatus {
  position: relative;
  width: 215px;
  height: 45px;
  background: rgb(214, 178, 178);
  border-radius: 5px;
  overflow: hidden;
  top: 20px;
  left: 2px;
}

#boredStatus {
  position: relative;
  width: 215px;
  height: 45px;
  background: rgb(214, 178, 178);
  border-radius: 5px;
  overflow: hidden;
  top: 20px;
  left: 2px;
}

#sadStatus {
  position: relative;
  width: 215px;
  height: 45px;
  background: rgb(214, 178, 178);
  border-radius: 5px;
  overflow: hidden;
  top: 20px;
  left: 2px;
}

#sleepStatus {
  position: relative;
  width: 215px;
  height: 45px;
  background: rgb(214, 178, 178);
  border-radius: 5px;
  overflow: hidden;
  top: 20px;
  left: 2px;
}

#hungry__fill {
  width: 65%;
  height: 100%;
  background: pink;
  font-size: 26px;
  font-family: indie flower;
  text-shadow:blue;
}

#hungry__text {
  position: absolute;
  top: 15px;
  right: 5px;
  transform: translateY(-50%);
  font-size: 26px;
  font-family: indie flower;
  text-shadow:powderblue;
}

#bored__fill {
  width: 85%;
  height: 100%;
  background: pink;
  font-size: 26px;
  font-family: indie flower;
  text-shadow:powderblue;
}

#bored__text {
  position: absolute;
  top: 15px;
  right: 5px;
  transform: translateY(-50%);
  font-size: 25px;
  font-family: indie flower;
  text-shadow:powderblue;

}

#sad__fill {
  width: 50%;
  height: 100%;
  background: pink;
  font-size: 26px;
  font-family: indie flower;
  text-shadow:powderblue
}

#sad__text {
  position: absolute;
  top: 15px;
  right: 5px;
  transform: translateY(-50%);
  font-size: 26px;
  font-family: indie flower;
  text-shadow:powderblue;
}

#tired__fill {
  width: 70%;
  height: 100%;
  background: pink;
  font-size: 26px;
  font-family: indie flower;
  text-shadow:powderblue;
}

#tired__text {
  position: absolute;
  top: 15px;
  right: 5px;
  transform: translateY(-50%);
  font-size: 26px;
  font-family: indie flower;
  text-shadow:powderblue;
}

#character {

  position: absolute;
  top: 170px;
  margin: 300px;
  margin-left: 20px;
}

.playButtons {

  position: relative;
  margin-top: 175px;
  margin-right: 60px;
  padding: 15px;
  font-family: indie flower;
  font-size: 26px;
  border-radius: 8px;
  color: blue;
} 

.sleep {
  
  background-color: black;
  opacity: .8;

}

